<div *ngIf="!isLoggedIn">
  <div id="login">
    <div class="login-page">
      <div class="form">
        <form #userForm="ngForm">
          <input type="text" #name="ngModel" placeholder="username" name="username" [(ngModel)]="username" class="form-control" required/>
          {{ name.untouched }}
          <input type="password" placeholder="password" name="password" [(ngModel)]="password"/>
          <button (click)=fireEvent(username)>login</button>
        </form>
      </div>
    </div>
  </div>
</div>